.coach-list {
	min-height: 300px;
}

.coach-list .c-heading {
	padding: 0.4em 0;
	text-indent: 0.6em;
}

.coach-list ul {
	list-style: none;
	padding: 0 0.2em;
	margin: 0 0 1em;

	li {
		margin-bottom: 0.2em;

		.c-button {
			text-align: left;
			text-indent: 0.2em;
		}
	}
}

.coach-list .o-panel-container {
	min-height: 400px;
}
