html,
body,
.shell {
	height: 100%;
	margin: 0;
}


body {
	font-family: Arial, sans-serif;
}


.title {
	background-color: rgba(221, 221, 221, 0.6);
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;

	.c-heading {
		margin-left: 0.4em;
		font-weight: bold;
		color: white;
	}
}

// grid - turn off flex //
.o-grid {
	display: block;
}

.left-col-wrapper {
	background-color: rgba(221, 221, 221, 0.6);
}

// errors //
.c-alerts__alert--error {
	z-index: 999;
}

// med breakpoint //
@media screen and (min-width: 48em) {

	.o-grid {
		display: flex;
	}

	.title {
		text-align: left;
	}
}

// large breakpoint //
@media screen and (min-width: 64em) {

	.title {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 99;

		.c-heading {
			text-align: center;
			padding: 0.5em 0;
		}
	}

	.left-col-wrapper {
		flex: none;
	}

}







